#band_settings_wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin-top: 30px;
}

#band_settings_card {
  width: 50%;
  height: 50%;
  background-color: white;
  font-size: 18px;
  padding: 20px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
}

.settings_card_element_1 {
  display: flex;
  gap: 10px;
  flex-direction: row;
  width: 100%;
  height: 100px;
}

.settings_card_element_1_left {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 50%;
  height: 100%;
}

#settings_edit_band_name {
  width: 90%;
  height: 40px;
}

.settings_card_element_1_right {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 50%;
  height: 100%;
}

#settings_edit_band_Genre {
  width: 90%;
  height: 40px;
}

.settings_card_element_2 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  height: 100px;
}

#settings_card_role_wrapper {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

#settings_edit_member_role_button {
  width: 125px;
}

.settings_card_element_3 {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100px;
  gap: 10px;
}

#settings_card_kick_member_wrapper {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

#settings_edit_kick_member_button {
  width: 125px;
}

.settings_card_element_4 {
  width: 100%;
  height: 100px;
}

#settings_edit_bio {
  width: 100%;
  height: 100%;
  resize: none;
  outline: none;
}

.settings_card_element_5 {
  margin-top: 10px;
  display: flex;
  gap: 20px;
}

#settings_card_save_button {
  width: 100px;
  height: 35px;
}

#settings_card_cancel_button {
  width: 100px;
  height: 35px;
}
